.suggestions-container {
  margin-top: 10%;
  margin-left: 80px;
}

.user-profile,
.suggested-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.profile-info {
  display: flex;
  align-items: center;
}

.user-profile-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #aaa;
  margin-right: 10px;
}

.user-profile-circle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.name-username > p,
.suggested-for-you > p {
  font-size: 14px;
  color: rgb(196, 186, 186);
}

.switch-button > button,
.follow-button > button,
.suggested-text > button {
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  color: darkcyan;
}

.switch-button > button:hover,
.follow-button > button:hover,
.suggested-text > button:hover {
  color: #fff;
}


.suggested-text {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.suggestion-footer {
    margin-top: 80px;
  }
  
  .suggestion-footer a {
    color: #737373 ; 
    margin-right: 10px; 
    font-size: 14px;
    text-decoration: none;
  }
  .suggestion-footer a:hover {
     text-decoration: underline;
  }
  
  .suggestion-footer h6 {
    margin-top: 30px;
    color: #737373;
    font-size: 14px;
    font-weight: 400;
  }
  

@media (max-width: 768px) {
  .user-profile,
  .suggested-profile {
    flex-direction: column;
  }
}
