.messages {
  display: flex;
  width: 99%;
  height: 99vh;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.friend-list-container {
  width: 30%;
  height: 100%;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  overflow-y: auto;
}

.friend-list-container::-webkit-scrollbar {
  display: none;
}
.friend-detail-container {
  width: 70%;
  height: 100%;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

@media (max-width: 767px) {
  .friend-list-container {
    width: 15%;
    height: 100%;
  }
}
