.NavBar{
    height: 100%; 
    bottom: 0;
    position: fixed;
} 

.NavItems{
    position: absolute;
    bottom: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color:black;
    width:auto
}

.link{
    margin-top: 2rem;
    text-decoration: none;
    color: white;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    padding: 0.6rem;
}

.link:hover{
    background: linear-gradient(to left, #D3D3D3, #FFFFFF);
    border-radius: 0.6rem;
    color: black;
    padding: 0.6rem;
}

.icon{
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    color: white;
}

.link:hover .icon{
    transform: scale(1.2);
    transition: transform 0.3s ease;
    color: black;
}

.SidebarText{
    display: flex;
    align-items: center;
    font-size: large;
}


@media (max-width: 1024px) {
    .icon{
        font-size: 2rem;
    }
    .SidebarText{
        font-size: large;
    }
}

@media (max-width: 480px) {
    .NavBar{
        width: 100%;
        height: unset;
    }
    .NavItems{
        margin-top: 0.6rem;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .link{
        padding: none;
        justify-content: space-evenly;
        padding: none;
    }
    .icon{
        margin-right: none;
        margin-left: none;
    }
    .link:hover .icon{
        color: white;
    }
}