.container {
  display: flex;
  margin: auto;
  width: 99%;
  height: 100vh;
  color: white;
}

.sidebar-container {
  width: 17.5%;
  height: 100vh;
}
.routing-container {
  width: 82.5%;
  height: auto;
  overflow-y: auto; 
}

.routing-container::-webkit-scrollbar {
  display: none;
}

.mobile{
  display: none;
}
@media (max-width: 567px) {
  .container {
    display: none;
  }
  .routing{
    height: 90vh;
    overflow-y: auto; 
  }
  .routing::-webkit-scrollbar {
    display: none;
  }
  .mobile{
    display: block;
  }
  .mobile-footer-container{
    width: 99.5%;
    height: 40px;
  }
}
