.container {
  display: flex;
  margin: auto;
  width: 99%;
  height: 100vh;
  color: white;
}

.sidebar-container {
  width: 17.5%;
}
.routing-container {
  width: 82.5%;
  border: 1px solid white;
  height: 97vh;
}

.mobile{
  display: none;
}
@media (max-width: 567px) {
  .container {
    display: none;
  }
  .routing{
    height: 85vh;
    border: 1px solid white;
  }
  .mobile{
    display: block;
  }
  .mobile-footer-container{
    width: 99.5%;
    height: 40px;
  }
}
