.sidebar {
  width: 100%;
  height: 93%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo-contain{
  text-decoration: none;
}

.logo {
  font-family: "Satisfy", cursive;
  color: white;
  font-size: xx-large;
  text-decoration: none;
  margin-bottom: 50px;
}

.sidebar-item {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in-out;
  padding: 8px;
  border-radius: 5px;
  margin-right: 35px;
}
.sidebar-icon {
  font-size: 22px; 
}
.sidebar-item.active .sidebar-icon,
.sidebar-item:hover .sidebar-icon {
  font-size: 24px; 
}
.sidebar-item svg {
  margin-right: 15px;
  font-size: 23px; 
  width: 20px;
  transition: all 0.3s ease-in-out;
}

.sidebar-item:hover {
  background-color: #555;
}

.instaShort{
  display: none;
}

.sidebar-item.active {
  font-weight: 700;
}

.sidebar-item.active .sidebar-icon {
  font-size: 24px;
  font-weight: 900;
  color: #fff;
}

.sidebar-item.active span {
  font-weight: 600;
}

.sidebar-item:hover svg {
  font-size: 23px;
}

.sidebar-item span {
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  font-family: "BlinkMacSystemFont", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.sidebar-item:hover span {
  background-color: #555;

}

.sidebar-item:hover .sidebar-icon {
  font-size: 23px;
  background-color: #555;
}

@media (max-width: 1100px) {
  .sidebar-item span {
    display: none;
  }
  .logo{
    display: none;
  }
  .instaShort{
    display: block;
    font-size: xx-large;
    text-decoration: none;
    margin-bottom: 50px;
    margin-left: 6px;
  }
}

@media (max-width:567px){
  .sidebar {
    display: none;
  }
}
